# --- Python ---
__pycache__/
*.py[cod]

# --- Environments / Packages ---
workspace/
.venv/
env/
*.egg-info/

# --- IDE / Editor ---
.idea/

# --- Build & Logs ---
build/
results/
logs/
*.log
data/

# --- SOFA artefacts (falls lokal kompiliert) ---
bin/
lib/
install/

# --- Jupyter ---
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# --- ML artefacts ---
wandb/
tensorboard/
checkpoints/
