[submodule "third_party/stEVE"]
	path = third_party/stEVE
	url = https://github.com/lkarstensen/stEVE.git
[submodule "third_party/stEVE_bench"]
	path = third_party/stEVE_bench
	url = https://github.com/lkarstensen/stEVE_bench.git
[submodule "third_party/stEVE_rl"]
	path = third_party/stEVE_rl
	url = https://github.com/lkarstensen/stEVE_rl.git
[submodule "third_party/stEVE_training"]
	path = third_party/stEVE_training
	url = https://github.com/lkarstensen/stEVE_training.git
[submodule "third_party/aortic_arch_generator"]
	path = third_party/aortic_arch_generator
	url = https://github.com/lkarstensen/2023_IJCARS_aortic_arch_generator.git
